.hidden {
  display: none;
  visibility: hidden;
}

p {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  margin-right: 2px;
}

.Start {
  border: solid 2px #feef61;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.PageOne {
  margin: 15vh auto;
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
