.black {
  border: 5px solid #000000;
  box-shadow: 0px 8px 24px 0px #000000;
}

.red {
  border: 5px solid #f64848;
  box-shadow: 0px 8px 24px 0px #f64848;
}

.green {
  border: 5px solid #62db38;
  box-shadow: 0px 8px 24px 0px #62db38;
}

.yellow {
  border: 5px solid #ffef61;
  box-shadow: 0px 8px 24px 0px #ffef61;
}

.card {
  height: 575px;
  width: 392px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.backface {
  box-shadow: 0px 8px 24px 0px #0000001f;
}
.frontface {
  box-shadow: 0px 8px 24px 0px #0000001f;
}

.topCard {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  position: relative;
}
.topCard h2 {
  position: absolute;
  right: 12px;
}

.contentCard h3 {
  word-wrap: break-word;
  word-break: break-all;
  margin: 49px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.buttons {
  height: 103px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;

  text-align: center;
}

.button1 {
  height: 60px;
  width: 77px;
  border-radius: 12px;
  border: 3px solid #000000;
  background-color: #ffffff;
}
.button2 {
  height: 60px;
  width: 77px;
  border-radius: 12px;
  border: 3px solid #f64848;
  background-color: #ffffff;
}

.button3 {
  height: 60px;
  width: 77px;
  border-radius: 12px;
  border: 3px solid #62db38;
  background-color: #ffffff;
}

.button4 {
  height: 60px;
  width: 77px;
  border-radius: 12px;
  border: 3px solid #ffef61;
  background-color: #ffffff;
}

.frontface .buttons {
  display: none;
  visibility: hidden;
}

.frontface .Question {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backface .Question {
  display: none;
  visibility: hidden;
}

.frontface .topCard {
  display: none;
  visibility: hidden;
}

.openAnswer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.backface .openAnswer {
  display: none;
  visibility: hidden;
}

.frontface .contentCard {
  display: none;
  visibility: hidden;
}
.TopFront {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}

.TopFront h2 {
  margin-right: 12px;
}

.openAnswer img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.Question h3 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.backface .TopFront {
  display: none;
  visibility: hidden;
}

.answerface .TopFront {
  display: none;
  visibility: hidden;
}

.answerface .Question {
  display: none;
  visibility: hidden;
}

.answerface .openAnswer {
  display: none;
  visibility: hidden;
}

.answerface .buttons {
  display: none;
  visibility: hidden;
}

.frontface .GoToNext {
  display: none;
  visibility: hidden;
}

.backface .GoToNext {
  display: none;
  visibility: hidden;
}

.GoToNext {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.GoToNext img {
  margin-right: 20px;
  margin-bottom: 20px;
}
